-verbose
-dontoptimize          # Disable optimization to avoid error on spring
-dontusemixedcaseclassnames
-keepattributes *Annotation*,Signature,InnerClasses,EnclosingMethod
-keepattributes SourceFile,LineNumberTable   # Keep for readable stack traces

# keep spring app entry point
-keep class com.yourcompany.YourApplication {
    public static void main(java.lang.String[]);
}

# Keep all Spring-managed classes
-keep @org.springframework.stereotype.Component class * { *; }
-keep @org.springframework.stereotype.Service class * { *; }
-keep @org.springframework.stereotype.Repository class * { *; }
-keep @org.springframework.stereotype.Controller class * { *; }
-keep @org.springframework.web.bind.annotation.RestController class * { *; }
-keep @org.springframework.boot.autoconfigure.SpringBootApplication class * { *; }
-keep @org.springframework.configuration.Configuration class * { *; }
-keep @org.springframework.boot.context.properties.ConfigurationProperties class * { *; }

# URL mappings must not be renamed
-keep @org.springframework.web.bind.annotation.RestController class * {
    @org.springframework.web.bind.annotation.RequestMapping *;
    @org.springframework.web.bind.annotation.GetMapping *;
    @org.springframework.web.bind.annotation.PostMapping *;
    @org.springframework.web.bind.annotation.PutMapping *;
    @org.springframework.web.bind.annotation.DeleteMapping *;
    @org.springframework.web.bind.annotation.PatchMapping *;
}

-keep @jakarta.persistence.Entity class * { *; }
-keep @jakarta.persistence.MappedSuperclass class * { *; }
-keep @jakarta.persistence.Embeddable class * { *; }

# Jackson needs field names to deserialize JSON
-keep class com.loci.**.payload.** { *; }
# -keep class com.loci.**.model.** { *; }
# -keep class com.loci.**.request.** { *; }
# -keep class com.loci.**.response.** { *; }

# Jackson JSON Serialization
-keepclassmembers class * {
    @com.fasterxml.jackson.annotation.JsonProperty *;
    @com.fasterxml.jackson.annotation.JsonIgnore *;
    @com.fasterxml.jackson.annotation.JsonCreator *;
}
-keep @com.fasterxml.jackson.annotation.JsonIgnoreProperties class * { *; }

# enums
-keepclassmembers enum * {
    public static **[] values();
    public static ** valueOf(java.lang.String);
}

# Reflection and proxies
# Spring uses reflection heavily
-keepclassmembers class * {
    @org.springframework.beans.factory.annotation.Autowired *;
    @org.springframework.beans.factory.annotation.Value *;
    @javax.annotation.PostConstruct *;
    @javax.annotation.PreDestroy *;
}

# keep class names for log context
-keep class * implements org.slf4j.Logger { *; }

# Keep for meaningful error messages
-keep class * extends java.lang.Exception { *; }
-keep class * extends java.lang.RuntimeException { *; }

# Suppress Warnings
-dontwarn org.springframework.**
-dontwarn javax.servlet.**
-dontwarn jakarta.servlet.**
-dontwarn com.fasterxml.jackson.**
