<div class="flex items-center justify-between p-4 border-b border-neutral-200 bg-white">
  <div class="flex items-center space-x-4">
    @if (showBackButton()) {
    <button class="text-neutral-400 hover:text-neutral-600 lg:hidden" (click)="onBack()"
      [attr.aria-label]="'Back to ' + backTargetText()">
      <i class="fa-solid fa-arrow-left text-xl"></i>
    </button>
    }



    @if (participant(); as user) {
    <img [src]="user.avatarUrl" [alt]="user.fullname" class="w-10 h-10 rounded-full object-cover">

    <div>
      <div class="flex items-center space-x-2">
        <h3 class="text-lg font-medium text-gray-900">{{ user.fullname }}</h3>
        <span class="w-2 h-2 rounded-full" [class]="statusColorClass()">
        </span>
      </div>
      <p class="text-sm text-neutral-500">{{ statusText() }}</p>
    </div>
    }
  </div>


  <button class="p-2 text-neutral-400 hover:text-neutral-600 rounded-full hover:bg-neutral-100 transition-colors"
          (click)="onProfileClick()" [attr.aria-label]="profileClick">
    <i class="fa-solid fa-user text-xl"></i>
  </button>
</div>
